body
{
	margin: 0;
}

.main
{
	width: 800px;
	height: 1000px;
	position: relative;
	margin: auto;
	background-color: black;
}

.one
{
	width: 70px;
	height: 70px;
	background-color: red;
	position: absolute;
	left: -30px;
	top: 30px;

}
